<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Wipro Store Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/Site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StoreManagement.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StoreManagementLoginUser.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StoreManagementRegisterUser.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav id="navbar-container" class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
            <a class="navbar-brand m-1" href="#">
                <img src="~/image/wipro.png" width="35" height="35" alt="">
            </a>
            <div class="container-fluid">
                <a class="navbar-brand text-left text-uppercase font-weight-bold h6" asp-controller="Home" asp-action="Index"><label class="navbar-label">Store Management System</label></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark text-left text-uppercase font-weight-bold h6" asp-controller="Home" asp-action="Index"><label class="navbar-label">Login</label></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-left text-uppercase font-weight-bold h6" asp-controller="Register" asp-action="Index"><label class="navbar-label">Register</label></a>
                        </li>
                        <li class="nav-item d-none">
                            <a class="nav-link text-dark text-left text-uppercase font-weight-bold h6" asp-controller="StoreManagement" asp-action="Index"><label class="navbar-label">Store Management</label></a>
                        </li>
                    </ul>
                </div>
                <div class="mode text-right text-uppercase font-weight-bold h6">
                    Dark mode:
                    <span class="change">DISABLED</span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-left text-uppercase font-weight-bold">
        <div class="container">
            &copy; 2024 - Store Management System
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Site.js" asp-append-version="true"></script>
    <script src="~/js/GlobalFunctions.js" asp-append-version="true"></script>
    <script src="~/js/StoreManagement.js" asp-append-version="true"></script>
    <script src="~/js/ModalInformacoes.js" asp-append-version="true"></script>
    <script src="~/js/StoreManagementLoginUser.js" asp-append-version="true"></script>
    <script src="~/js/StoreManagementRegisterUser.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
