body {
    margin-bottom: 60px;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

h1 {
    color: #32a852;
}

.mode {
    float: right;
}

.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}

.dark {
    background-color: #222;
    color: #e6e6e6;
}