@model Store.Management.Models.Category

<div class="container">
    @using (Html.BeginForm("Index", "StoreManagement"))
    {
        <div class="form-row mt-3">
            <div class="col-4 mt-4">
                <label for="CategoryName" class="floatingInputValue text-left text-capitalize font-weight-bold">Category Name</label>
                @if (Model.ListOfCategory != null && Model.ListOfCategory.Any())
                {
                    @Html.DropDownList("CategoryName", (IEnumerable<SelectListItem>)Model.ListOfCategory, new { id = "dpdCategoryName", @class = "form-control", required = "false" })
                }
            </div>

            <div class="col-4 mt-4">
                <label for="SubCategoryName" class="floatingInputValue text-left text-capitalize font-weight-bold">Sub Category Name</label>
                @if (Model.ListOfSubCategory != null && Model.ListOfSubCategory.Any())
                {
                    @Html.DropDownList("SubCategoryName", (IEnumerable<SelectListItem>)Model.ListOfSubCategory, new { id = "dpdSubCategoryName", @class = "form-control", required = "false" })
                }
            </div>

            <div class="col-4 mt-4">
                <label for="ProductName" class="floatingInputValue text-left text-capitalize font-weight-bold">Product Name</label>
                @if (Model.ListOfProduct != null && Model.ListOfProduct.Any())
                {
                    @Html.DropDownList("ProductName", (IEnumerable<SelectListItem>)Model.ListOfProduct, new { id = "dpdProduct", @class = "form-control", required = "false" })
                }
            </div>
        </div>

        <div class="form-row mt-4 pl-1">
            <div class="col-2">
                <button type="button" class="btn btn-primary" id="btnSaveNewItem" name="btnSaveNewItem">
                    <span id="title-btnSaveNewItem">Save</span>
                </button>
            </div>
        </div>
    }
</div>

@Html.Partial("~/Views/Shared/_ModalInformation.cshtml")

<script type="text/javascript">

</script>